Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.ped
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.hwe
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.snps
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.bed
