Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.ped
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.hwe
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.snps
Tareas_BioinfinvRepro/Unidad2/mflorez/Unidad2/Sesion2/*.bed
*.bed
*.bim
*.fam
*.snps
*.hwe
*.log
*.mds
*.genome
*.tar.gz
Unidad2/Sesion2/code/

Unidad1/Tarea_01/Repo_chocolate/
Unidad3/Sesion4/QIAseq_DNA_tutorial/
*.fastq
*.fastq.gz
*.zip
